*{
    scroll-behavior: smooth;
}
body{
    background-color: #eaeaea;
    background-image: url(képek/34738269_2659143_15b83f9bdd92f6d22d03959e17f17915_wm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
.menusor{
    z-index: 100;
}
header{
    background-color: #937B63;
    color: #eaeaea;
}

.mlogo{

    height: 200px;

}
.mcmenza{
    margin-top: 1.2rem;
}

.szlogo{
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
    float: right;

    border: 1px solid white;
}
@media only screen and (max-width: 992px){
    .logo{
        display: none;
    }
}

hr{
    background-color: whitesmoke;
    margin-bottom: 0;
    margin-top: -20px;
}

nav{
    background-color: rgb(197, 179, 130);
}

footer{
    background-color: #937B63;
    color: #eaeaea;
}

.center{
    text-align: center;
}

h1{
    padding-top: 1rem;

}

h2{
    margin-top: 1rem;
    margin-bottom: 0;

}

#cim{
    margin-top: 20px;
    font-size: 25pt;
}

@media only screen and (min-width: 720px) {
    #mobilnav {
        display: none;
    }
}
/*Pc navbar */
@media only screen and (-width: 721px) {
    li{
        display: inline;
        list-style: none;
    }

    
}

/*Pc navbar */

a{
    color: black;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.top-container{
    margin-bottom: 20px;
}

iframe{
    border-radius: 10%;
    width: 600px; 
    height: 450px; 
    border: 0;
}

.map{

    margin-bottom: 0;

}

.keszitok{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.tagok{

    background-color: rgba(219, 219, 226, 0.6);
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Imi*/
.imi{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;


    border-radius: 10%;

    background-color: rgb(240, 222, 205);

    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.imi img{
    width: 90%;
    border-radius: 50%;
    margin-left: 5%;
}

.imi h4{
    text-align: center;
}

.imi h3{
    text-align: center;
    font-size: 22pt;
}

.card1{
    padding: 2px 16px;
}
/*Imi*/

/*Martin*/
.martin{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;


    border-radius: 10%;

    background-color: rgb(240, 222, 205);

    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.martin img{
    width: 90%;
    border-radius: 50%;
    margin-left: 5%;
}

.martin h4{
    text-align: center;
}

.martin h3{
    text-align: center;
    font-size: 22pt;
}

.card2{
    padding: 2px 16px;
}
/*Martin*/

/*Gergo*/
.gergo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;


    border-radius: 10%;

    background-color: rgb(240, 222, 205);

    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.gergo img{
    width: 90%;
    border-radius: 50%;
    margin-left: 5%;
}

.gergo h4{
    text-align: center;
}

.gergo h3{
    text-align: center;
    font-size: 22pt;
}

.card3{
    padding: 2px 16px;
}
/*Gergo*/

.kiskep{
    width: 2rem;
    margin-bottom: 5px;
    margin-right: 1rem;
}
#elerhetosegek{
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.elerhetoseg{
    font-size: 1.5rem;
}

@media only screen and (max-width: 576px){
    .elerhetoseg{
        font-size: 1rem;
    }
    #elerhetosegek{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }


}
@media only screen and (max-width: 576px){
    #lathatatlan{
        display: none;
    }
}
.martin, .imi, .gergo{
    margin-bottom: 5rem;
}
.vissza{
    color: #eaeaea;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}
p{
    margin: 0
}
.forrasok{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/*logo*/
.szkcs{
    position: relative;
    width: 100%;
    border-radius: 50%;
}

.szlogo{
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    transition: .5s ease;
}

.keret{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 72%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.szkcs:hover .szlogo{
    opacity: 0.5;
}

.szkcs:hover .keret{
    opacity: 1;
}

.szoveg{
    background-color: rgb(197, 179, 130);
    color: #eaeaea;
    font-size: 15pt;
    width: 150px;
    height: 30px;
}
/*logo*/