
body{
    background-color: #eaeaea;
}
header{
    background-color: #937B63;
    color: #eaeaea;
}
.center{
    text-align: center;
}
h1{
    padding-top: 1rem;

}
h2{
    margin-top: 1rem;
    margin-bottom: 0;

}
#menzaskep{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
hr{
    margin-bottom: 0.2rem;
}
nav{

}