
body{
    background-color: #eaeaea;
}
header{
    background-color: #937B63;
    color: #eaeaea;
}
.center{
    text-align: center;
}
h1{
    padding-top: 1rem;

}
h2{
    margin-top: 1rem;
    margin-bottom: 0;

}
#menzaskep{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
hr{
    margin-bottom: 0.2rem;
}
@media only screen and (min-width: 720px) {
    #mobilnav {
        display: none;
    }
}
/*Pc navbar */
@media only screen and (-width: 721px) {
    li{
        display: inline;
        list-style: none;
    }

    
}

/*Pc navbar */


.hetfo{
    margin-left: 20px;
}

/*Hetfoi leves*/
.hleves{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    margin-left: 100px;
    background-color: rgb(240, 222, 205);
}

.hleves img{
    width: 90%;
    border-radius: 3%;
    margin-left: 5%;
}

.hleves p{
    font-weight: bold;
    text-decoration: underline;
    font-size: 15pt;
}

.hleves h4{
    text-align: center;
}

.hleves h3{
    text-align: center;
    font-size: 22pt;
}

.hleves li{
    font-size: 15pt;
}

.hleves:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.card1{
    padding: 2px 16px;
}
/*Hetfoi leves*/


/*Hetfoi foetel*/
.hfoetel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;
    margin-left: 100px;
    background-color: rgb(240, 222, 205);
}

.hfoetel img{
    width: 90%;
    border-radius: 3%;
    margin-left: 5%;
}

.hfoetel p{
    font-weight: bold;
    text-decoration: underline;
    font-size: 15pt;
}

.hfoetel h4{
    text-align: center;
}

.hfoetel h3{
    text-align: center;
    font-size: 22pt;
}

.hfoetel li{
    font-size: 15pt;
}

.hfoetel:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.card2{
    padding: 2px 16px;
}
/*Hetfoi foetel*/