*{
    box-sizing: border-box;
}
body{
    background-color: #eaeaea;
    background-image: url(képek/34738269_2659143_15b83f9bdd92f6d22d03959e17f17915_wm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
 
  ::-webkit-scrollbar-track {
    display: none;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
header{
    background-color: #937B63;
    color: #eaeaea;
}

.mlogo{
    margin-top: 60px;
    margin-left: 60px;
    height: 200px;
    width: 201px;
}

.szlogo{
    border-radius: 50%;
    height: 210px;
    width: 210px;
    float: right;
    margin-right: 60px;
    margin-top: 60px;
    border: 1px solid white;
}

nav{
    background-color: rgb(197, 179, 130);
    
}

.dropdown-menu{
    background-color: rgb(197, 179, 130);
}

.dropdown-item{
    color: whitesmoke;
}

.dropdown-item:hover{
    background-color: whitesmoke;
}

footer{
    background-color: #937B63;
    color: #eaeaea; 
}

.vissza{
    color: #000000;
    text-decoration: none;
    padding-left: 333px;
}

.center{
    text-align: center;
}

h1{
    padding-top: 1rem;

}

h2{
    margin-top: 1rem;
    margin-bottom: 0;

}

h2 .hetfo, .kedd, .szerda, .csutortok, .pentek{
    text-align: center;
}

#valaszto{
    background-color: #937B63;
    text-align: center;
    height: 6rem;
    margin-bottom: 100px;
}

#cim{
    margin-top: 20px;
    font-size: 25pt;
}

hr{
    background-color: whitesmoke;
    margin-bottom: 0.2rem;
}

@media only screen and (min-width: 720px) {
    #mobilnav {
        display: none;
    }
}
/*Pc navbar */
@media only screen and (-width: 721px) {
    li{
        display: inline;
        list-style: none;
    }

    
}

/*Pc navbar */
.menusor{
    z-index: 100;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.top-container{
    margin-bottom: 20px;
}

iframe{
    border-radius: 10%;
    width: 600px; 
    height: 450px; 
    border: 0;
    
}

.map{
    margin-bottom: 0;

}

.hetfo{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.hmenu{
    width: 100%;

    margin-top: 100px;

}

.kep{
    background-color: #000000;
}
.kiskep{
    width: 3rem;
    border: solid black 1px;
    margin-bottom: 5px;

}
.kiskep2{
    width: 2rem;
    margin-bottom: 5px;
    margin-right: 1rem;
}
#elerhetosegek{
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.elerhetoseg{
    font-size: 1.5rem;
}
@media only screen and (min-width: 992px){
#lathatatlan{
    display: none;
}
}
@media only screen and (max-width: 576px){
    .elerhetoseg{
        font-size: 1rem;
    }
    #elerhetosegek{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
ul{
    margin-left: 2rem;
    padding: 0.4rem;
}
li.typenone{
    list-style-type:none;
}
li{
padding: 0;

}

.lstn{
    list-style-type: none;
    padding-left: 50px;
}

/*Hetfoi leves*/
.hleves{
    background-image: url(fokhagymakremleves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 200px;
    padding: 0;
border-radius: 7%;
}

div.transbox{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    opacity: 0.6;
    width: 100%;
    border-radius: 7%;
    z-index: 90;

}

div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    padding-left: 5px;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Hetfoi leves*/

/*Hetfoi foetel*/
.hfoetel{
    background-image: url(kinai\ szezanmagos\ csirke.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;

    margin-bottom: 200px;
    padding: 0;
    border-radius: 7%;
}


div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Hetfoi foetel*/

/*Hetfoi desszert*/
.hdesszert{
    background-image: url(muffin.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;


    padding: 0;
    border-radius: 7%;
}




div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Hetfoi desszert*/



.kedd{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.kmenu{
    width: 100%;

    margin-top: 100px;
    margin-bottom: 100px;
}

/*Keddi leves*/
.kleves{
    background-image: url(tarkonyos-csirkeraguleves.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    border-radius: 7%;
}




div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Keddi leves*/

/*Kedi foetel*/
.kfoetel{
    background-image: url(bacskai-rizses-hus.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    border-radius: 7%;
}



div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Kedi foetel*/

/*Keddi desszert*/
.kdesszert{
    background-image: url(kokuszgolyo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-radius: 7%;
}


div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Keddi desszert*/



.szerda{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 7%;
}

.szmenu{
    width: 100%;

    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 7%;
}

/*Szerdai leves*/
.szleves{
    background-image: url(babgulyas.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    border-radius: 7%;
}


div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Szerdai leves*/

/*Szerdai foetel*/
.szfoetel{
    background-image: url(mac\ and\ cheese.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    border-radius: 7%;
}



div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Szerdai foetel*/

/*Szerdai desszert*/
.szdesszert{
    background-image: url(fank.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-radius: 7%;
}




div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Szerdai desszert*/



.csutortok{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 7%;
}

.csmenu{
    width: 100%;

    margin-top: 100px;
    margin-bottom: 100px;
}

/*Csutortoki leves*/
.csleves{
    background-image: url(eperkremleves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

    border-radius: 7%;
}


div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Csutortoki leves*/

/*Csutortoki foetel*/
.csfoetel{
    background-image: url(hentestokany.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;   
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    margin-top: 200px;
    border-radius: 7%;
}



div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Csutortoki foetel*/

/*Csutortoki desszert*/
.csdesszert{
    background-image: url(tiramisu.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-radius: 7%;
}



div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Csutortoki desszert*/



.pentek{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    border-radius: 7%;
}

.pmenu{
    width: 100%;

    margin-top: 100px;
    margin-bottom: 100px;
}

/*Penteki leves*/
.pleves{
    background-image: url(husleves.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    border-radius: 7%;
}


div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Penteki leves*/

/*Penteki foetel*/
.pfoetel{
    background-image: url(rantott-csirkefalatok-krumplipurevel.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
    border-radius: 7%;
}



div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Penteki foetel*/

/*Penteki desszert*/
.pdesszert{
    background-image: url(sportszelet.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-radius: 7%;
}



div.transbox h3{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
}

div.transbox h4{
    font-weight: bold;
    color: #000000;
    text-align: center;
}

div.transbox p{
    margin: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

div.transbox ul{
    font-weight: bold;
    color: #000000;
}

div.transbox ol{
    font-weight: bold;
    color: #000000;
}

div.transbox li{
    font-weight: bold;
    color: #000000;
}
/*Penteki desszert*/